<!doctype html>
<html class="h-full" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    {%- liquid
      render 'vite-tag' with 'main.css'
      render 'vite-tag' with 'main.js'
    -%}

    {{ content_for_header }}
  </head>

  <body class="grid min-h-full grid-cols-[100%] grid-rows-[1fr]">
    <main>
      {{ content_for_layout }}
    </main>
  </body>
</html>
