<!doctype html>
<html class="h-full" lang="{{ request.locale.iso_code }}">
<script>
        // some cookie functions
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        
        //get cookie
        const url_string = window.location.href;
        const url_object = new URL(url_string);
        let my_param_cookie = getCookie('my_param');
        if (!my_param_cookie) {
          //set cookie
          setCookie('my_param', url_string, 1);
        }els{
    </script>

  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>
    
    <meta name="description" content="">

    {% comment %}
    {%- liquid
      render 'vite-tag' with 'main.css'
      render 'vite-tag' with 'main.js'
    -%}
    {% endcomment %}
    
    {{ content_for_header }}
  </head>

  <body class="grid min-h-full grid-cols-[100%] grid-rows-[1fr]">

    
    
    {% section 'promo-banner' %}
    <main>
      {{ content_for_layout }}
    </main>
  </body>
</html>