{{ 'promo-banner.css' | asset_url | stylesheet_tag }}
<div id="promo-banners">
  <!-- Banners will be display by JavaScript -->
</div>
{% assign reversed_blocks = section.blocks | reverse %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
  }
  function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
      var expires = "expires=" + d.toGMTString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  function unsetCookie(cname) {
      document.cookie = cname + '=; path=/; expires=' + new Date(0).toUTCString();
  }
  function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
              c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
          }
      }
      return "";
  }
  
  var now = new Date();
  var formattedDateTime = now.getFullYear() + '-' + (now.getMonth() + 1).toString().padStart(2, '0') + '-' + now.getDate().toString().padStart(2, '0') + ' ' + now.getHours().toString().padStart(2, '0') + ':' + now.getMinutes().toString().padStart(2, '0') + ':' + now.getSeconds().toString().padStart(2, '0');
  var promoBannersContainer = document.getElementById('promo-banners');
  var banners = [
    {% assign banner_counter = 1 %}
    {% for block in reversed_blocks %}
      {% if block.type == 'banner' %}
        {% assign discount_value = '15%' %}
        {% assign discount_code = block.settings.discount_code %}
        {% assign discount_message = block.settings.message | replace: "[discount_code]", discount_code %}
        {% assign discount_message = discount_message | replace: "[discount_value]", discount_value %}
          {
            backgroundColor: '{{ block.settings.background_color }}',
            textColor: '{{ block.settings.text_color }}',
            message: '{{ discount_message }}',
            utmMedium: '{{ block.settings.utm_medium }}',
            discountCode: '{{ block.settings.discount_code }}',
            createdAt: formattedDateTime,
            discountId: {{ banner_counter }}
          },
      {% endif %}
      {% assign banner_counter = banner_counter | plus: 1 %}
    {% endfor %}
  ];
  //console.log("Cookie discount code:"+getCookie("discount_code"));
  
  var utmMedium = getUrlParameter('utm_medium');
  //var discountCode = getUrlParameter('discount');
  var discountCode = getCookie('discount_code');

  var matchedBanners = banners.filter(function(banner) {
    return banner.utmMedium === utmMedium || banner.discountCode === discountCode;
  });
  
  if (matchedBanners.length > 0) {
    //Remove all applied
    for(k=0;k<banners.length;k++){
      localStorage.removeItem('setBannerApplied_'+banners[k].discountId);
    }
  
    // Sort matched banners by creation date to show the most recent one
    matchedBanners.sort(function(a, b) {
      return new Date(b.createdAt) - new Date(a.createdAt);
    });

    var mostRecentBanner = matchedBanners[0];
    var promoBanner = document.createElement('div');
    promoBanner.style.backgroundColor = mostRecentBanner.backgroundColor;
    promoBanner.style.color = mostRecentBanner.textColor;
    promoBanner.innerHTML = '<p>'+mostRecentBanner.message+'</p><button class="close-banner" style="color:'+mostRecentBanner.textColor+'">Close</button>';
    promoBannersContainer.appendChild(promoBanner);
    promoBanner.style.display = 'block';
 
    var closeButton = promoBanner.querySelector('.close-banner');
    closeButton.addEventListener('click', function() {
      promoBanner.style.display = 'none';
      localStorage.setItem('promoBannerDismissed_'+mostRecentBanner.discountId, 'true');
    });

    localStorage.setItem('setBannerApplied_'+mostRecentBanner.discountId, 'true');
    
    if (localStorage.getItem('promoBannerDismissed_'+mostRecentBanner.discountId) == 'true') {
      promoBanner.style.display = 'none';
    }
  }else{    
    //check already applied 
    for(k=0;k<banners.length;k++){
      if (localStorage.getItem('setBannerApplied_'+banners[k].discountId) == 'true') {
          var mostRecentBanner = banners[k];
          var promoBanner = document.createElement('div');
          promoBanner.id = 'promoBanner';
          promoBanner.style.backgroundColor = mostRecentBanner.backgroundColor;
          promoBanner.style.color = mostRecentBanner.textColor;
          promoBanner.innerHTML = '<p>'+mostRecentBanner.message+'</p><button class="close-banner" style="color:'+mostRecentBanner.textColor+'">Close</button>';
          promoBannersContainer.appendChild(promoBanner);
          promoBanner.style.display = 'block';

          var closeButton = promoBanner.querySelector('.close-banner');
          closeButton.addEventListener('click', function() {
            promoBanner.style.display = 'none';
            localStorage.setItem('promoBannerDismissed_'+mostRecentBanner.discountId, 'true');
            localStorage.removeItem('setBannerApplied_'+mostRecentBanner.discountId);
          });
      } 
    }

    //If not matched discount code
    var matchedBanners = banners.filter(function(banner) {
      return banner.utmMedium === utmMedium || banner.discountCode === discountCode;
    });
    if (matchedBanners.length <= 0) {
      var promoBanner = document.getElementById('promoBanner');
      promoBanner.style.display = 'none';
    }
  }
});
</script>


{% schema %}
{
  "name": "Promo Banners",
  "settings": [],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        },
        {
          "type": "text",
          "id": "message",
          "label": "Message",
          "info": "e.g. Your [discount_value]% off discount code [discount_code] will auto-apply at checkout."
        },
        {
          "type": "text",
          "id": "utm_medium",
          "label": "UTM Medium",
          "info": "e.g. ?utm_medium=email"
        },
        {
          "type": "text",
          "id": "discount_code",
          "label": "Discount code",
          "info": "e.g. /discount/WELCOME15 or ?discount=WELCOME15"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Banners"
    }
  ]
}
{% endschema %}