{{ 'promo-banner.css' | asset_url | stylesheet_tag }}
<div id="promo-banners">
  <!-- Banners will be injected here by JavaScript -->
</div>

<div class="promo-banners">
  {% for block in section.blocks %}
    {% if block.type == 'banner' %}
      {% assign discount_value = '15%' %}
      {% assign discount_code = block.settings.discount_code %}
      <div class="promo-banner" style="background-color: {{ block.settings.background_color }}; color: {{ block.settings.text_color }};">
        <p>{{ block.settings.message | replace: "[discount_code]", discount_code }} </p>
        <button class="close-banner" style="color: {{ block.settings.text_color }};">Close</button>
      </div>
    {% endif %}
  {% endfor %}
</div>


<script src="{{ 'promo-banner.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Promo Banners",
  "settings": [],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        },
        {
          "type": "text",
          "id": "message",
          "label": "Message",
          "info": "E.g Your [discount_value]% off discount code [discount_code] will auto-apply at checkout."
        },
        {
          "type": "text",
          "id": "utm_medium",
          "label": "UTM Medium"
        },
        {
          "type": "text",
          "id": "discount_code",
          "label": "Discount code"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Banners"
    }
  ]
}
{% endschema %}